/**
Your challenge is to build out this QR code component and get it looking as close to the design as possible.
You can use any tools you like to help you complete the challenge. So if have something that you would like 
to practice, feel free to give it a go. Download the starter code and go through the README.md file. This will 
provide further details about the project. The style-guide.md file is where you will find colors, fonts, etc.
*/

img {
    border-radius: 8px;
    width: 260px;
    height: 250px;
    object-fit: cover;
}

body{
    text-align: center;
    font-family: sans-serif; 
    background-color: hsl(212, 45%, 89%);
    margin: 10%;
    height: 100;
    display: flex;
    justify-content: baseline;
    place-content: center;
    
}

main{
    border-radius: 8px;
    width:260px;
    height: 450px;
    object-fit: cover;
    background-color: white;
    padding: 8px;
    font-size: 10px;
    
}
p{
    font-family: sans-serif;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}